<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>887871417162-pchmr34j5tkvehjhqov140fqu0pu3qaq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.887871417162-pchmr34j5tkvehjhqov140fqu0pu3qaq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>887871417162-f0mfv6l4gp83sfo1nsnauc4nsufs1fis.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCqaUCe6WYSvSu6mAq5ataIzCU4C8bGO20</string>
	<key>GCM_SENDER_ID</key>
	<string>887871417162</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.evansfrancisapp.krci</string>
	<key>PROJECT_ID</key>
	<string>krci-app</string>
	<key>STORAGE_BUCKET</key>
	<string>krci-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:887871417162:ios:a03d1a975ef4b61600afb3</string>
</dict>
</plist>